.blog-card {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;
	margin: 10px;
}

.card-drop-shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.blog-card-image {
	height: 163px;
}
.blog-card-content {
	height: 265px;
}
.font-Albert-Sans {
}

.blog-card-clicked {
	height: 428px;
	padding: 0px !important;
}

.blog-card-clicked path {
	fill: #f3f1e8;
}

.grid-card-item {
	display: flex;
	align-items: center;
	justify-content: center;
}