.blog-card {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 276px;
	margin: 10px;
}

.blog-card-image {
	height: 163px;
}
.blog-card-content {
	height: 265px;
}
.font-Albert-Sans {
}

.blog-card-clicked {
	height: 428px;
	padding-top: 187px !important;
}

.blog-card-clicked path {
	fill: #f3f1e8;
}