.item-card {
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    transition: all 3.7s;
}
.item-card:hover  {
    transition: all 5s;
    background-size: 110%;
}
.item-card-icon-sm {
    width: 20px;
    height: 20px;
}