.item-card {
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    
}
.item-card:hover  {
    background-size: 110%;
    box-shadow: 0px 4px 8px rgba(20, 21, 78, 0.22);
}
.item-card-icon-sm {
    width: 20px;
    height: 20px;
}