.property-card {
	width: "fit-content";	
}
.property-card-img1 {
	width: 292px;
	height: 229px;
}
.property-card-img2 {
	width: 145px;
	height: 92px;
}
#popover-additional {
	// margin-left: 0px !important;
}