

.base-purple-100 {
	color: #FAFAFF;
}

.base-purple-500 {
	color: #6667AB;
}

.base-purple-700 {
	color: #14154E;
}
.base-purple-600 {
	color: #343681;
}
.base-turquoise-100 {
	color: #E7F9F8;
}
.bk-base-purple-700 {
	background-color: #14154E;
}
.bk-base-turquoise-100 {
	background-color: #E7F9F8;
}

.bk-base-purple-500 {
	background-color: #6667AB;
}

.bk-accent-orange-100 {
	background-color: #FEF2E9;
}

.bk-base-purple-200 {
	background-color: #F3F4FF;
}



.ui-error {
	color: #E22323;
}